body{
  background: rgb(169, 216, 226);

}
.container {
  display: flex;
  justify-content: center; 
   
}

p {
  margin-left: 5%;
  margin-right: 5%;
}
  

  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 30px;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
} 


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-top: 20px;
}

.carousel-item {

height: 500px; /* Define a
altura fixa para os itens do carrossel */ 
}

.carousel-item img {
height: 100%; /* Ajusta a
altura da imagem para preencher o contêiner */
width: 100%; /* Ajusta a
largura da imagem para preencher o contêiner */
object-fit: cover; /* Garante
que a imagem se ajuste sem distorção */

}

.oi {
  width: 1000px;
}

.sports {
  width: 15%;
  height: 30%;
  
}