body {
    background-image: url("papper3.jpg");
    background-repeat: no-repeat; 
    background-size: ;
    background-position: ;
}


.navbar{
    position: fixed;
    width:100%;
    transition: background-color 1s;

  }

  .rect{
    width:100%;
    height:100vh;
  }
  #green{
    background-color:#559065;
  }
  #blue{
    background-color:#7eb3a7;
  }

.mb-1 {
  color: azure;
}

.texto{
  width: 2300px;
  height: 2500px;
  text-align: ;
}

.btn {
  background: #559065;
}

@media only screen and (max-width: 600px){
   body { background-image: url("papper3.jpg");     background-size: 1800px 5000px;
}                          

   
  .item1 {color:brown;}
  h1 {font-size: 25px;}
  p , u {font-size:20px;}
}
}

@media only screen and (min-width: 600px){ 
body { background-image: url("papper3.jpg");
background-size: 2200px 5000px; 
}      

  h1 {font-size: 30px;}
}

@media only screen and (max-width: 768px){
 body { background-image: url("papper3.jpg");
background-size: 2200px 5000px;
}      
    h1 {font-size: 25px;}
  }

@media only screen and (min-width: 992px){
body { background-image: url("papper3.jpg");
background-size: 2200px 5000px;

}      


    
    h1 {font-size: 25px;}
}

@media only screen and (min-width: 1200px){
body { background-image: url("papper3.jpg");
}      
  h1 {font-size: 25px;}
}

/* Estilos para telas pequenas */
@media (max-width: 600px) {
  .grid-container {
    /* Exemplo de ajuste para uma coluna em telas pequenas */
    display: block;
  }
}

